<ion-header>
  <ion-toolbar color="wineC">
    <ion-title>Sobre</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <div class="beerBanner"></div>
  <ion-item class="ion-margin-top">
    <ion-text class="ion-text-center">
      <h1 style="color: #5e2129;"><b>Projeto AdegaBeer, descomplicando seus pedidos de cervejas artesanais e muito mais.</b></h1>
      <p>Acreditando a existência de um caminho novo e interessante para se explorar, um grupo de alunos do anhembi decidiu investir em um projeto focado em cervejas artesanais e com isso criaram o AdegaBeer, facilitando o acesso a cervejas importadas dificil de encontrar no Brasil, assim como o acesso a cervejas artesanais de novos produtores e antigos no qual existem somente em determinadas regiões, para que todos cervejeiros tenham a possibilidade de experimentar novos sabores e viverem novas experiências.</p>
      <p>Facilitando a você que é consumidor ou para você que é produtor ou empresário temos muitas vantagens.</p>
    </ion-text>
  </ion-item>

  <ion-item background-color="wine" class="ion-margin-top">
    <ion-row>

      <ion-col size="12" sizeSm="6" sizeMd="4" class="grid">
        <ion-card class="grid-item">
          <ion-card-header>
            <ion-card-title class="ion-text-center">Valor da Entrega</ion-card-title>
          </ion-card-header>
        
          <ion-card-content>
            O valor da entrega para todos os pedidos são fixos, num valor de R$ 7,00 para até 7 KM do local.
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="12" sizeSm="6" sizeMd="4" class="grid">
        <ion-card class="grid-item">
          <ion-card-header>
            <ion-card-title class="ion-text-center">Taxa por pedido</ion-card-title>
          </ion-card-header>
        
          <ion-card-content>
            Com uma das menores taxas do mercado, nosso aplicativo somente recebe 10% de lucro + uma taxa fixa de R$ 3.20 por pedidos.
          </ion-card-content>
        </ion-card>
      </ion-col>
      
      <ion-col size="12" sizeSm="12" sizeMd="4" class="grid">
        <ion-card class="grid-item">
          <ion-card-header>
            <ion-card-title class="ion-text-center">Sem mensalidade</ion-card-title>
          </ion-card-header>
        
          <ion-card-content>
            Para facilitar a conexão entre empresa e consumidor, nós da AdegaBeer que temos foco em ser um intermediário não temos foco em cobrar mensalidade para que uma empresa se cadastre e utilize nossa plataforma, o unico requisito é somente passar por alguns testes referentes ao produto e demanda.
          </ion-card-content>
        </ion-card>
      </ion-col>

    </ion-row>
  </ion-item>

  <ion-list class="ion-margin-top">

    <ion-text class="ion-text-center"><h1>Membros do Projeto</h1></ion-text>

    <ion-item>
      <ion-avatar slot="start">
        <img src="../../../assets/face01.png">
      </ion-avatar>
      <ion-label>
        <h2>Jackson Souza</h2>
        <p>Analise e Desenvolvimento de Sistemas</p>
      </ion-label>
    </ion-item>
    
    <ion-item>
      <ion-avatar slot="start">
        <img src="../../../assets/face04.png">
      </ion-avatar>
      <ion-label>
        <h2>Vinicius Ribeiro</h2>
        <p>Analise e Desenvolvimento de Sistemas</p>
      </ion-label>
    </ion-item>
    
    <ion-item>
      <ion-avatar slot="start">
        <img src="../../../assets/face02.png">
      </ion-avatar>
      <ion-label>
        <h2>Leonardo Fernandes</h2>
        <p>Analise e Desenvolvimento de Sistemas</p>
      </ion-label>
    </ion-item>
    
    <ion-item>
      <ion-avatar slot="start">
        <img src="../../../assets/face03.png">
      </ion-avatar>
      <ion-label>
        <h2>Matheus Henrique</h2>
        <p>Analise e Desenvolvimento de Sistemas</p>
      </ion-label>
    </ion-item>

  </ion-list>

</ion-content>
