<ion-header>
  <ion-toolbar color="wineC">
    <ion-title>Sobre</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <div class="beerBanner"></div>
  <ion-item class="ion-margin-top">
    <ion-text class="ion-text-center">
      <h1 style="color: #5e2129;"><b>Projeto AdegaBeer, descomplicando seus pedidos de cervejas artesanais e muito mais.</b></h1>
      <p>Acreditando a existência de um caminho novo e interessante para se explorar, um grupo de alunos do anhembi decidiu investir em um projeto focado em cervejas artesanais e com isso criaram o AdegaBeer, facilitando o acesso a cervejas importadas dificil de encontrar no Brasil, assim como o acesso a cervejas artesanais de novos produtores e antigos no qual existem somente em determinadas regiões, para que todos cervejeiros tenham a possibilidade de experimentar novos sabores e viverem novas experiências.</p>
      <p>Facilitando a você que é consumidor ou para você que é produtor ou empresário temos muitas vantagens.</p>
    </ion-text>
  </ion-item>

</ion-content>