<ion-header>
  <ion-toolbar color="wineC">
    <ion-title>Cupons</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item *ngFor="let c of cupons | async">

    <ion-col size="12" class="grid">
      <ion-card class="grid-item">
        <ion-card-header>
          <ion-card-title class="ion-text-center">{{ c.nome }}</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          <p>Valor do cupom: {{ c.porcentagem }}%</p>
          <p>{{ c.descricao }}</p>
          <p>Validade: {{ momentjs(c.validade.toDate()).format('DD/MM/YYYY HH:mm') }}</p>

        </ion-card-content>
      </ion-card>
    </ion-col>

  </ion-item>

<!--
  <ion-item background-color="wine" class="ion-margin-top">
    <ion-row>

      <ion-item class="ion-margin-top">
        <ion-text class="ion-text-center">
          <h1 style="color: #222428;"><b>Cupons ativos</b></h1>
        </ion-text>
      </ion-item>

      <ion-col size="12" class="grid">
        <ion-card class="grid-item">
          <ion-card-header>
            <ion-card-title class="ion-text-center">UltimaChance30</ion-card-title>
          </ion-card-header>
        
          <ion-card-content>
            Limitado a 1500 usos. Máximo de 1 uso por usuário. 30% de desconto em compras de até R$ 45,00. Valido até 23:59 de 30/09/2021.
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-item class="ion-margin-top">
        <ion-text class="ion-text-center">
          <h1 style="color: #92949c;"><b>Cupons inativos</b></h1>
        </ion-text>
      </ion-item>

      <ion-col size="12" class="grid">
        <ion-card class="grid-item">
          <ion-card-header>
            <ion-card-title class="ion-text-center" style="color: #92949c;">Brahma-Fut10</ion-card-title>
          </ion-card-header>
        
          <ion-card-content style="color: #92949c;">
            Cupom de desconto em toda a linha Brahma, disponivel em dia de jogos do Campeonato Brasileiro 2021.
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="12" class="grid">
        <ion-card class="grid-item">
          <ion-card-header>
            <ion-card-title class="ion-text-center" style="color: #92949c;">MotoFrete35</ion-card-title>
          </ion-card-header>
        
          <ion-card-content style="color: #92949c;">
            Cupom de desconto para frete gratis em compras acima de R$ 35.00.
          </ion-card-content>
        </ion-card>
      </ion-col>
      
    </ion-row>
  </ion-item>
-->

</ion-content>