<ion-tabs>
  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="produtos">
      <ion-icon name="beer"></ion-icon>
      <ion-label>Produtos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="sobre">
      <ion-icon name="home"></ion-icon>
      <ion-label>Sobre</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="historia">
      <ion-icon name="book"></ion-icon>
      <ion-label>História</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="cupons">
      <ion-icon name="document-text"></ion-icon>
      <ion-label>cupons</ion-label>
    </ion-tab-button>

    <ion-tab-button (click)="signOut()">
      <ion-icon name="log-out"></ion-icon>
      <ion-label>Sair</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>